#wrapper {
    width: 1310px;
    background-color: #FFFFFF;
}

body {
    font-family: Arial;
    background-color: #000000;
}

h1 {
    font-size: 40px;   
    color: #007d7b;
    float: left;
    margin: -20px;
    padding-left: 30px;
    padding-bottom: 20px;
}

h2 {
    font-size: 40px;
    color: #000000;
}

header, nav {
    background-color: #000000;
}

nav {
    font-size: 20px;
    color: #FFFFFF;
    text-align: right;
    background-color: #000000;
}

nav li {
    font-size: 20px;
    color: #FFFFFF;
    display: inline-block;
    padding-left: 50px;
    padding-right: 50px;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
}

nav a:hover {
    color: #007d7b;
}

#about-photo {
    width: 850px;
    float: left;
    padding-left: 5px;
}

.small {
    width: 420px;
    height: 281px;
    margin: 5px;
    position: relative;
}

.big {
    width: 420px;
    height: 630px;
    margin: 5px;
    position: relative;
}

[href="#top"] {
    position: fixed;
    color: #FFFFFF;
    background-color: #007d7b;
    bottom: 0px;
    right: 0px;
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
}

#top a:hover {
    background-color: #FFFFFF;
    color: #007d7b;
}

p {
    font-size: 20px;
    color: #000000;
}

button {
    background-color: #007d7b;
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
    width: 300px;
    border-radius: 8px;
}

#gallery {
    float: left;
}

figure, img {
    float: left;
    background-color: #FFFFFF;
    position: relative;
}

.about {
    float: right;
    text-align: right;
    width: 420px;
    margin: 5px;
    background-color: #FFFFFF;
}

#contact {
    color: #FFFFFF;
    text-align: center;
    background-color: #000000;
}

.contact {
    background-color: #000000;
    color: #FFFFFF;
    clear: both;
}

form, input {
    color: #FFFFFF;
    text-align: center;
    padding: 5px;
}

input {
    width: 600px;
    text-align: left;
}

footer {
    color: #FFFFFF;
    background-color: #000000;
    text-align: center;
    padding-top: 20px;
}

.tl {
    font-size: 16px;
    position: absolute;
    top: 5px;
    left: 5px;
}

.bl {
    font-size: 16px;
    position: absolute;
    bottom: 5px;
    left: 5px;
    
}

.br {
    font-size: 16px;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.white {
    color: #FFFFFF;
}

.left {
    clear: both;
}